.flags_flag__vohTE {
  background: url(/static/sprites/flags-vertical.png) no-repeat 0 0;
  width: 30px;
  height: 23px;
}
.flags_flag__vohTE.flags_ac__x4eLN {
  background-position: 0 0;
}
.flags_flag__vohTE.flags_ad__UTXIl {
  background-position: 0 -23px;
}
.flags_flag__vohTE.flags_ae__hCpQ9 {
  background-position: 0 -46px;
}
.flags_flag__vohTE.flags_af__qSNgF {
  background-position: 0 -69px;
}
.flags_flag__vohTE.flags_ag__R3keJ {
  background-position: 0 -92px;
}
.flags_flag__vohTE.flags_ai__zBW_g {
  background-position: 0 -115px;
}
.flags_flag__vohTE.flags_al__On7AX {
  background-position: 0 -138px;
}
.flags_flag__vohTE.flags_am__sq6w4 {
  background-position: 0 -161px;
}
.flags_flag__vohTE.flags_ao__7_iSl {
  background-position: 0 -184px;
}
.flags_flag__vohTE.flags_aq__nDOD1 {
  background-position: 0 -207px;
}
.flags_flag__vohTE.flags_ar__2RlJo {
  background-position: 0 -230px;
}
.flags_flag__vohTE.flags_as__66Sp0 {
  background-position: 0 -253px;
}
.flags_flag__vohTE.flags_at__8DtwB {
  background-position: 0 -276px;
}
.flags_flag__vohTE.flags_au__L6FKK {
  background-position: 0 -299px;
}
.flags_flag__vohTE.flags_aw__yxuoc {
  background-position: 0 -322px;
}
.flags_flag__vohTE.flags_ax__bwFGx {
  background-position: 0 -345px;
}
.flags_flag__vohTE.flags_az__DsAHF {
  background-position: 0 -368px;
}
.flags_flag__vohTE.flags_ba__A_DGY {
  background-position: 0 -391px;
}
.flags_flag__vohTE.flags_bat__ECB6s {
  background-position: 0 -414px;
}
.flags_flag__vohTE.flags_bb__uk9Qi {
  background-position: 0 -437px;
}
.flags_flag__vohTE.flags_bd__dJbRg {
  background-position: 0 -460px;
}
.flags_flag__vohTE.flags_be__nxjZ4 {
  background-position: 0 -483px;
}
.flags_flag__vohTE.flags_bf___vdb0 {
  background-position: 0 -506px;
}
.flags_flag__vohTE.flags_bg__Zt2Y8 {
  background-position: 0 -529px;
}
.flags_flag__vohTE.flags_bh__3w_tC {
  background-position: 0 -552px;
}
.flags_flag__vohTE.flags_bi___1NrP {
  background-position: 0 -575px;
}
.flags_flag__vohTE.flags_bj__zD7FU {
  background-position: 0 -598px;
}
.flags_flag__vohTE.flags_bl__WNYuv {
  background-position: 0 -621px;
}
.flags_flag__vohTE.flags_bm__iU7JM {
  background-position: 0 -644px;
}
.flags_flag__vohTE.flags_bn__N4OE3 {
  background-position: 0 -667px;
}
.flags_flag__vohTE.flags_bo__gDSk7 {
  background-position: 0 -690px;
}
.flags_flag__vohTE.flags_bq__A0Mj6 {
  background-position: 0 -713px;
}
.flags_flag__vohTE.flags_br__vty__ {
  background-position: 0 -736px;
}
.flags_flag__vohTE.flags_bs__dxSra {
  background-position: 0 -759px;
}
.flags_flag__vohTE.flags_bt__Q_p3y {
  background-position: 0 -782px;
}
.flags_flag__vohTE.flags_bv__gc44n {
  background-position: 0 -805px;
}
.flags_flag__vohTE.flags_bw__YyYfR {
  background-position: 0 -828px;
}
.flags_flag__vohTE.flags_by__KKA88 {
  background-position: 0 -851px;
}
.flags_flag__vohTE.flags_bz__MwgSj {
  background-position: 0 -874px;
}
.flags_flag__vohTE.flags_ca__AVTq_ {
  background-position: 0 -897px;
}
.flags_flag__vohTE.flags_cc__pzgGy {
  background-position: 0 -920px;
}
.flags_flag__vohTE.flags_cd__rBEHM {
  background-position: 0 -943px;
}
.flags_flag__vohTE.flags_cefta__BRx_y {
  background-position: 0 -966px;
}
.flags_flag__vohTE.flags_cf__Fesrc {
  background-position: 0 -989px;
}
.flags_flag__vohTE.flags_cg__QHNje {
  background-position: 0 -1012px;
}
.flags_flag__vohTE.flags_ch__A1_2o {
  background-position: 0 -1035px;
}
.flags_flag__vohTE.flags_ci__L0vTZ {
  background-position: 0 -1058px;
}
.flags_flag__vohTE.flags_ck__nENb7 {
  background-position: 0 -1081px;
}
.flags_flag__vohTE.flags_cl__4djgC {
  background-position: 0 -1104px;
}
.flags_flag__vohTE.flags_cm__CVoBz {
  background-position: 0 -1127px;
}
.flags_flag__vohTE.flags_cn__aWldH {
  background-position: 0 -1150px;
}
.flags_flag__vohTE.flags_co__Usvzu {
  background-position: 0 -1173px;
}
.flags_flag__vohTE.flags_cp__mRG0I {
  background-position: 0 -1196px;
}
.flags_flag__vohTE.flags_cr__VJAks {
  background-position: 0 -1219px;
}
.flags_flag__vohTE.flags_cu__dVF8c {
  background-position: 0 -1242px;
}
.flags_flag__vohTE.flags_cv__0qNpy {
  background-position: 0 -1265px;
}
.flags_flag__vohTE.flags_cw__H09c_ {
  background-position: 0 -1288px;
}
.flags_flag__vohTE.flags_cx__HdGHK {
  background-position: 0 -1311px;
}
.flags_flag__vohTE.flags_cy__lQdke {
  background-position: 0 -1334px;
}
.flags_flag__vohTE.flags_cz___53xZ {
  background-position: 0 -1357px;
}
.flags_flag__vohTE.flags_de__RtFvT {
  background-position: 0 -1380px;
}
.flags_flag__vohTE.flags_dg__Sy29t {
  background-position: 0 -1403px;
}
.flags_flag__vohTE.flags_dj__F0ACO {
  background-position: 0 -1426px;
}
.flags_flag__vohTE.flags_dk__u51dj {
  background-position: 0 -1449px;
}
.flags_flag__vohTE.flags_dm__HI_MQ {
  background-position: 0 -1472px;
}
.flags_flag__vohTE.flags_do__S5Js3 {
  background-position: 0 -1495px;
}
.flags_flag__vohTE.flags_dz__O3KxR {
  background-position: 0 -1518px;
}
.flags_flag__vohTE.flags_ea__TUbPu {
  background-position: 0 -1541px;
}
.flags_flag__vohTE.flags_ec__BC81Z {
  background-position: 0 -1564px;
}
.flags_flag__vohTE.flags_ee__kqoyZ {
  background-position: 0 -1587px;
}
.flags_flag__vohTE.flags_eg__mtj5u {
  background-position: 0 -1610px;
}
.flags_flag__vohTE.flags_eh__UE3Tn {
  background-position: 0 -1633px;
}
.flags_flag__vohTE.flags_er__BYYGw {
  background-position: 0 -1656px;
}
.flags_flag__vohTE.flags_es-ct__DP9Ba {
  background-position: 0 -1679px;
}
.flags_flag__vohTE.flags_es-ga__grxGx {
  background-position: 0 -1702px;
}
.flags_flag__vohTE.flags_es__X9msP {
  background-position: 0 -1725px;
}
.flags_flag__vohTE.flags_et__Wd5SH {
  background-position: 0 -1748px;
}
.flags_flag__vohTE.flags_fi__eG4LT {
  background-position: 0 -1771px;
}
.flags_flag__vohTE.flags_fj__JhNiP {
  background-position: 0 -1794px;
}
.flags_flag__vohTE.flags_fk__7JpVI {
  background-position: 0 -1817px;
}
.flags_flag__vohTE.flags_Flag_s__gi4PD {
  background-position: 0 -1840px;
}
.flags_flag__vohTE.flags_fm__T0Ih0 {
  background-position: 0 -1863px;
}
.flags_flag__vohTE.flags_fo__kfszb {
  background-position: 0 -1886px;
}
.flags_flag__vohTE.flags_fr__TeiZj {
  background-position: 0 -1909px;
}
.flags_flag__vohTE.flags_ga__y3AiH {
  background-position: 0 -1932px;
}
.flags_flag__vohTE.flags_gb-eng__uhWPZ {
  background-position: 0 -1955px;
}
.flags_flag__vohTE.flags_gb-nir__8y8y_ {
  background-position: 0 -1978px;
}
.flags_flag__vohTE.flags_gb-sct__AWIiE {
  background-position: 0 -2001px;
}
.flags_flag__vohTE.flags_gb-wls__7b9EY {
  background-position: 0 -2024px;
}
.flags_flag__vohTE.flags_gb__GCRab {
  background-position: 0 -2047px;
}
.flags_flag__vohTE.flags_gd__c_u2U {
  background-position: 0 -2070px;
}
.flags_flag__vohTE.flags_ge__W5glC {
  background-position: 0 -2093px;
}
.flags_flag__vohTE.flags_gf__OqjZX {
  background-position: 0 -2116px;
}
.flags_flag__vohTE.flags_gg__xIOTi {
  background-position: 0 -2139px;
}
.flags_flag__vohTE.flags_gh__Hbkmj {
  background-position: 0 -2162px;
}
.flags_flag__vohTE.flags_gi__IQBaC {
  background-position: 0 -2185px;
}
.flags_flag__vohTE.flags_gl__DmzYn {
  background-position: 0 -2208px;
}
.flags_flag__vohTE.flags_gm__nyYFe {
  background-position: 0 -2231px;
}
.flags_flag__vohTE.flags_gn__ynbX0 {
  background-position: 0 -2254px;
}
.flags_flag__vohTE.flags_gp__XoUK1 {
  background-position: 0 -2277px;
}
.flags_flag__vohTE.flags_gq__WEDtH {
  background-position: 0 -2300px;
}
.flags_flag__vohTE.flags_gr__a_rDe {
  background-position: 0 -2323px;
}
.flags_flag__vohTE.flags_gs__BMRX5 {
  background-position: 0 -2346px;
}
.flags_flag__vohTE.flags_gt__rq_WU {
  background-position: 0 -2369px;
}
.flags_flag__vohTE.flags_gu__jz8Ha {
  background-position: 0 -2392px;
}
.flags_flag__vohTE.flags_gw__u8cOm {
  background-position: 0 -2415px;
}
.flags_flag__vohTE.flags_gy__cQInJ {
  background-position: 0 -2438px;
}
.flags_flag__vohTE.flags_hk__qJUdM {
  background-position: 0 -2461px;
}
.flags_flag__vohTE.flags_hm__gtySf {
  background-position: 0 -2484px;
}
.flags_flag__vohTE.flags_hn__1P2RW {
  background-position: 0 -2507px;
}
.flags_flag__vohTE.flags_hr__TNwVq {
  background-position: 0 -2530px;
}
.flags_flag__vohTE.flags_ht__IHVwz {
  background-position: 0 -2553px;
}
.flags_flag__vohTE.flags_hu__Xd7Qd {
  background-position: 0 -2576px;
}
.flags_flag__vohTE.flags_ic__89bBm {
  background-position: 0 -2599px;
}
.flags_flag__vohTE.flags_id__dcQV_ {
  background-position: 0 -2622px;
}
.flags_flag__vohTE.flags_ie__jN7Gb {
  background-position: 0 -2645px;
}
.flags_flag__vohTE.flags_il__qIRSf {
  background-position: 0 -2668px;
}
.flags_flag__vohTE.flags_im__uythe {
  background-position: 0 -2691px;
}
.flags_flag__vohTE.flags_in__aSQr_ {
  background-position: 0 -2714px;
}
.flags_flag__vohTE.flags_io__UmFOX {
  background-position: 0 -2737px;
}
.flags_flag__vohTE.flags_iq__pM8bt {
  background-position: 0 -2760px;
}
.flags_flag__vohTE.flags_ir__EuPHx {
  background-position: 0 -2783px;
}
.flags_flag__vohTE.flags_is__zpuH6 {
  background-position: 0 -2806px;
}
.flags_flag__vohTE.flags_it__kD9mB {
  background-position: 0 -2829px;
}
.flags_flag__vohTE.flags_je__IMzxq {
  background-position: 0 -2852px;
}
.flags_flag__vohTE.flags_jm__a0jWo {
  background-position: 0 -2875px;
}
.flags_flag__vohTE.flags_jo__fbFdr {
  background-position: 0 -2898px;
}
.flags_flag__vohTE.flags_jp__hSNsj {
  background-position: 0 -2921px;
}
.flags_flag__vohTE.flags_ke__Cl_1k {
  background-position: 0 -2944px;
}
.flags_flag__vohTE.flags_kg__q_6s2 {
  background-position: 0 -2967px;
}
.flags_flag__vohTE.flags_kh__Z_SR2 {
  background-position: 0 -2990px;
}
.flags_flag__vohTE.flags_ki__sCb8O {
  background-position: 0 -3013px;
}
.flags_flag__vohTE.flags_km__dNmY6 {
  background-position: 0 -3036px;
}
.flags_flag__vohTE.flags_kn__UejAm {
  background-position: 0 -3059px;
}
.flags_flag__vohTE.flags_kp__XBH2J {
  background-position: 0 -3082px;
}
.flags_flag__vohTE.flags_kr__W814D {
  background-position: 0 -3105px;
}
.flags_flag__vohTE.flags_kw__mEP6v {
  background-position: 0 -3128px;
}
.flags_flag__vohTE.flags_ky__I3BFN {
  background-position: 0 -3151px;
}
.flags_flag__vohTE.flags_kz__7T_jY {
  background-position: 0 -3174px;
}
.flags_flag__vohTE.flags_la__aqtrH {
  background-position: 0 -3197px;
}
.flags_flag__vohTE.flags_lb__jXNK6 {
  background-position: 0 -3220px;
}
.flags_flag__vohTE.flags_lc__tKmcz {
  background-position: 0 -3243px;
}
.flags_flag__vohTE.flags_li__YAokI {
  background-position: 0 -3266px;
}
.flags_flag__vohTE.flags_lk__c3fXk {
  background-position: 0 -3289px;
}
.flags_flag__vohTE.flags_lr__zc7JK {
  background-position: 0 -3312px;
}
.flags_flag__vohTE.flags_ls__G_gOy {
  background-position: 0 -3335px;
}
.flags_flag__vohTE.flags_lt__q_JLi {
  background-position: 0 -3358px;
}
.flags_flag__vohTE.flags_lu__QzGs8 {
  background-position: 0 -3381px;
}
.flags_flag__vohTE.flags_lv__0uyju {
  background-position: 0 -3404px;
}
.flags_flag__vohTE.flags_ly__pzEs0 {
  background-position: 0 -3427px;
}
.flags_flag__vohTE.flags_ma__8AOSn {
  background-position: 0 -3450px;
}
.flags_flag__vohTE.flags_mc__sIdWy {
  background-position: 0 -3473px;
}
.flags_flag__vohTE.flags_md__wVcHw {
  background-position: 0 -3496px;
}
.flags_flag__vohTE.flags_me__5eG55 {
  background-position: 0 -3519px;
}
.flags_flag__vohTE.flags_mf__QR3Lt {
  background-position: 0 -3542px;
}
.flags_flag__vohTE.flags_mg__Wu9Gk {
  background-position: 0 -3565px;
}
.flags_flag__vohTE.flags_mh__tVRKD {
  background-position: 0 -3588px;
}
.flags_flag__vohTE.flags_mk__LMyUK {
  background-position: 0 -3611px;
}
.flags_flag__vohTE.flags_ml__jdxwO {
  background-position: 0 -3634px;
}
.flags_flag__vohTE.flags_mm__qCntq {
  background-position: 0 -3657px;
}
.flags_flag__vohTE.flags_mn__y4jOB {
  background-position: 0 -3680px;
}
.flags_flag__vohTE.flags_mo___KnQo {
  background-position: 0 -3703px;
}
.flags_flag__vohTE.flags_mp__SPs9E {
  background-position: 0 -3726px;
}
.flags_flag__vohTE.flags_mq__40dxE {
  background-position: 0 -3749px;
}
.flags_flag__vohTE.flags_mr__ynZKS {
  background-position: 0 -3772px;
}
.flags_flag__vohTE.flags_ms__MWiF1 {
  background-position: 0 -3795px;
}
.flags_flag__vohTE.flags_mt__3tTdR {
  background-position: 0 -3818px;
}
.flags_flag__vohTE.flags_mu__m_nIy {
  background-position: 0 -3841px;
}
.flags_flag__vohTE.flags_mv__33jN3 {
  background-position: 0 -3864px;
}
.flags_flag__vohTE.flags_mw__Ebodp {
  background-position: 0 -3887px;
}
.flags_flag__vohTE.flags_mx__g6uW8 {
  background-position: 0 -3910px;
}
.flags_flag__vohTE.flags_my__O8Q8q {
  background-position: 0 -3933px;
}
.flags_flag__vohTE.flags_mz__EiTgJ {
  background-position: 0 -3956px;
}
.flags_flag__vohTE.flags_na__7Le87 {
  background-position: 0 -3979px;
}
.flags_flag__vohTE.flags_nc__hXvc6 {
  background-position: 0 -4002px;
}
.flags_flag__vohTE.flags_ne__xrsiF {
  background-position: 0 -4025px;
}
.flags_flag__vohTE.flags_nf__qNDqE {
  background-position: 0 -4048px;
}
.flags_flag__vohTE.flags_ng__BZau6 {
  background-position: 0 -4071px;
}
.flags_flag__vohTE.flags_ni__GAmVz {
  background-position: 0 -4094px;
}
.flags_flag__vohTE.flags_nl__H8cmh {
  background-position: 0 -4117px;
}
.flags_flag__vohTE.flags_no__BgSBz {
  background-position: 0 -4140px;
}
.flags_flag__vohTE.flags_np__1lXNV {
  background-position: 0 -4163px;
}
.flags_flag__vohTE.flags_nr__3WJk5 {
  background-position: 0 -4186px;
}
.flags_flag__vohTE.flags_nu__8lxPW {
  background-position: 0 -4209px;
}
.flags_flag__vohTE.flags_nz__sx958 {
  background-position: 0 -4232px;
}
.flags_flag__vohTE.flags_om__CF1gP {
  background-position: 0 -4255px;
}
.flags_flag__vohTE.flags_pa__3EceX {
  background-position: 0 -4278px;
}
.flags_flag__vohTE.flags_pe__omme3 {
  background-position: 0 -4301px;
}
.flags_flag__vohTE.flags_pf__TEW6H {
  background-position: 0 -4324px;
}
.flags_flag__vohTE.flags_pg__KGI6Z {
  background-position: 0 -4347px;
}
.flags_flag__vohTE.flags_ph__nN18T {
  background-position: 0 -4370px;
}
.flags_flag__vohTE.flags_pk__SwXbI {
  background-position: 0 -4393px;
}
.flags_flag__vohTE.flags_pl__rufNy {
  background-position: 0 -4416px;
}
.flags_flag__vohTE.flags_pm__sUeQF {
  background-position: 0 -4439px;
}
.flags_flag__vohTE.flags_pn__Uh3mv {
  background-position: 0 -4462px;
}
.flags_flag__vohTE.flags_pr__BFraS {
  background-position: 0 -4485px;
}
.flags_flag__vohTE.flags_ps__PdOsp {
  background-position: 0 -4508px;
}
.flags_flag__vohTE.flags_pt__4OKyy {
  background-position: 0 -4531px;
}
.flags_flag__vohTE.flags_pw__qYaD5 {
  background-position: 0 -4554px;
}
.flags_flag__vohTE.flags_py__pbV7z {
  background-position: 0 -4577px;
}
.flags_flag__vohTE.flags_qa__jqjP_ {
  background-position: 0 -4600px;
}
.flags_flag__vohTE.flags_re__TiGuQ {
  background-position: 0 -4623px;
}
.flags_flag__vohTE.flags_ro__HPGkG {
  background-position: 0 -4646px;
}
.flags_flag__vohTE.flags_rs__DkGkJ {
  background-position: 0 -4669px;
}
.flags_flag__vohTE.flags_ru__HLBOu {
  background-position: 0 -4692px;
}
.flags_flag__vohTE.flags_rw__YgnUb {
  background-position: 0 -4715px;
}
.flags_flag__vohTE.flags_sa__dMRG8 {
  background-position: 0 -4738px;
}
.flags_flag__vohTE.flags_sb__qe_Ix {
  background-position: 0 -4761px;
}
.flags_flag__vohTE.flags_sc__boc_W {
  background-position: 0 -4784px;
}
.flags_flag__vohTE.flags_sd__A_dBE {
  background-position: 0 -4807px;
}
.flags_flag__vohTE.flags_se__NTmEn {
  background-position: 0 -4830px;
}
.flags_flag__vohTE.flags_sg__iWEhX {
  background-position: 0 -4853px;
}
.flags_flag__vohTE.flags_sh__EKq_r {
  background-position: 0 -4876px;
}
.flags_flag__vohTE.flags_si__lmh_o {
  background-position: 0 -4899px;
}
.flags_flag__vohTE.flags_sj__uVXHj {
  background-position: 0 -4922px;
}
.flags_flag__vohTE.flags_sk__RTcFW {
  background-position: 0 -4945px;
}
.flags_flag__vohTE.flags_sl__5MgMk {
  background-position: 0 -4968px;
}
.flags_flag__vohTE.flags_sm__YrCQq {
  background-position: 0 -4991px;
}
.flags_flag__vohTE.flags_sn__Y5To5 {
  background-position: 0 -5014px;
}
.flags_flag__vohTE.flags_so__ahvjU {
  background-position: 0 -5037px;
}
.flags_flag__vohTE.flags_sr__Yd_xt {
  background-position: 0 -5060px;
}
.flags_flag__vohTE.flags_ss__nzWlZ {
  background-position: 0 -5083px;
}
.flags_flag__vohTE.flags_st__Yossg {
  background-position: 0 -5106px;
}
.flags_flag__vohTE.flags_sv__kZiC_ {
  background-position: 0 -5129px;
}
.flags_flag__vohTE.flags_sx__K9lZb {
  background-position: 0 -5152px;
}
.flags_flag__vohTE.flags_sy__te5xQ {
  background-position: 0 -5175px;
}
.flags_flag__vohTE.flags_sz__YA0FG {
  background-position: 0 -5198px;
}
.flags_flag__vohTE.flags_ta__xecqJ {
  background-position: 0 -5221px;
}
.flags_flag__vohTE.flags_tc___YpYV {
  background-position: 0 -5244px;
}
.flags_flag__vohTE.flags_td__7AFKU {
  background-position: 0 -5267px;
}
.flags_flag__vohTE.flags_tf__npX8y {
  background-position: 0 -5290px;
}
.flags_flag__vohTE.flags_tg__oUDN_ {
  background-position: 0 -5313px;
}
.flags_flag__vohTE.flags_th__SYVhx {
  background-position: 0 -5336px;
}
.flags_flag__vohTE.flags_tj__Fr5Kj {
  background-position: 0 -5359px;
}
.flags_flag__vohTE.flags_tk__Z627D {
  background-position: 0 -5382px;
}
.flags_flag__vohTE.flags_tl__vdqAG {
  background-position: 0 -5405px;
}
.flags_flag__vohTE.flags_tm__E9Rdp {
  background-position: 0 -5428px;
}
.flags_flag__vohTE.flags_tn__fuefJ {
  background-position: 0 -5451px;
}
.flags_flag__vohTE.flags_to__Nx_HL {
  background-position: 0 -5474px;
}
.flags_flag__vohTE.flags_tr__0Kz6D {
  background-position: 0 -5497px;
}
.flags_flag__vohTE.flags_tt__5EBcc {
  background-position: 0 -5520px;
}
.flags_flag__vohTE.flags_tv__UaGcL {
  background-position: 0 -5543px;
}
.flags_flag__vohTE.flags_tw__N6C_2 {
  background-position: 0 -5566px;
}
.flags_flag__vohTE.flags_tz__ZvBn6 {
  background-position: 0 -5589px;
}
.flags_flag__vohTE.flags_ua__42z_e {
  background-position: 0 -5612px;
}
.flags_flag__vohTE.flags_ug__NRVy6 {
  background-position: 0 -5635px;
}
.flags_flag__vohTE.flags_um__hZxKg {
  background-position: 0 -5658px;
}
.flags_flag__vohTE.flags_un__AEzzB {
  background-position: 0 -5681px;
}
.flags_flag__vohTE.flags_us__COTQ9 {
  background-position: 0 -5704px;
}
.flags_flag__vohTE.flags_uy__iB_Sh {
  background-position: 0 -5727px;
}
.flags_flag__vohTE.flags_uz__c_1Be {
  background-position: 0 -5750px;
}
.flags_flag__vohTE.flags_va__D6O7T {
  background-position: 0 -5773px;
}
.flags_flag__vohTE.flags_vc__S51G2 {
  background-position: 0 -5796px;
}
.flags_flag__vohTE.flags_ve__DwTV1 {
  background-position: 0 -5819px;
}
.flags_flag__vohTE.flags_vg__AO9In {
  background-position: 0 -5842px;
}
.flags_flag__vohTE.flags_vi__VGBGH {
  background-position: 0 -5865px;
}
.flags_flag__vohTE.flags_vn__da28j {
  background-position: 0 -5888px;
}
.flags_flag__vohTE.flags_vu__fIhPp {
  background-position: 0 -5911px;
}
.flags_flag__vohTE.flags_wf__KW7qq {
  background-position: 0 -5934px;
}
.flags_flag__vohTE.flags_ws__mnV7S {
  background-position: 0 -5957px;
}
.flags_flag__vohTE.flags_xk__Kpn10 {
  background-position: 0 -5980px;
}
.flags_flag__vohTE.flags_xx__vjVL9 {
  background-position: 0 -6003px;
}
.flags_flag__vohTE.flags_ye__P0Hq0 {
  background-position: 0 -6026px;
}
.flags_flag__vohTE.flags_yt__ET8Yf {
  background-position: 0 -6049px;
}
.flags_flag__vohTE.flags_za__kOeYc {
  background-position: 0 -6072px;
}
.flags_flag__vohTE.flags_zm__LLL7O {
  background-position: 0 -6095px;
}
.flags_flag__vohTE.flags_zw__mtjL1 {
  background-position: 0 -6118px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .flags_flag__vohTE {
    background: url(/static/sprites/flags-vertical-retina.png) no-repeat 0 0;
    background-size: 30px 6141px;
  }
}
.rdrCalendarWrapper {
  box-sizing: border-box;
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.rdrDateDisplay {
  display: flex;
  justify-content: space-between;
}
.rdrDateDisplayItem {
  flex: 1 1;
  width: 0;
  text-align: center;
  color: inherit;
}
.rdrDateDisplayItem + .rdrDateDisplayItem {
  margin-left: 0.833em;
}
.rdrDateDisplayItem input {
  text-align: inherit;
}
.rdrDateDisplayItem input:disabled {
  cursor: default;
}
.rdrMonthAndYearWrapper {
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
}
.rdrMonthAndYearPickers {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rdrNextPrevButton {
  box-sizing: inherit;
  cursor: pointer;
  outline: none;
}
.rdrMonths {
  display: flex;
}
.rdrMonthsVertical {
  flex-direction: column;
}
.rdrMonthsHorizontal > div > div > div {
  display: flex;
  flex-direction: row;
}
.rdrMonth {
  width: 27.667em;
}
.rdrWeekDays {
  display: flex;
}
.rdrWeekDay {
  flex-basis: calc(100% / 7);
  box-sizing: inherit;
  text-align: center;
}
.rdrDays {
  display: flex;
  flex-wrap: wrap;
}
.rdrInfiniteMonths {
  overflow: auto;
}
.rdrDateRangeWrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.rdrDateInput {
  position: relative;
}
.rdrDateInput input {
  outline: none;
}
.rdrDateInput .rdrWarning {
  position: absolute;
  font-size: 1.6em;
  line-height: 1.6em;
  top: 0;
  right: 0.25em;
  color: red;
}
.rdrDay {
  box-sizing: inherit;
  width: calc(100% / 7);
  position: relative;
  font: inherit;
  cursor: pointer;
}
.rdrDayNumber {
  display: block;
  position: relative;
}
.rdrDayNumber span {
  color: #1d2429;
}
.rdrDayDisabled {
  cursor: not-allowed;
}
@supports (-ms-ime-align: auto) {
  .rdrDay {
    flex-basis: 14.285% !important;
  }
}
.rdrEndEdge,
.rdrInRange,
.rdrSelected,
.rdrStartEdge {
  pointer-events: none;
}
.rdrDateRangePickerWrapper {
  display: inline-flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.rdrStaticRanges {
  display: flex;
  flex-direction: column;
}
.rdrStaticRange {
  font-size: inherit;
}
.rdrInputRange {
  display: flex;
}
.rdrCalendarWrapper {
  color: #000;
  font-size: 12px;
}
.rdrDateDisplayWrapper {
  background-color: #eff2f7;
}
.rdrDateDisplay {
  margin: 0.833em;
}
.rdrDateDisplayItem {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
}
.rdrDateDisplayItem input {
  cursor: pointer;
  height: 2.5em;
  line-height: 2.5em;
  border: 0;
  background: transparent;
  width: 100%;
  color: #849095;
}
.rdrDateDisplayItemActive {
  border-color: currentColor;
}
.rdrDateDisplayItemActive input {
  color: #7d888d;
}
.rdrMonthAndYearWrapper {
  align-items: center;
  height: 60px;
  padding-top: 10px;
}
.rdrMonthAndYearPickers {
  font-weight: 600;
}
.rdrMonthAndYearPickers select {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  padding: 10px 30px 10px 10px;
  border-radius: 4px;
  outline: 0;
  color: #3e484f;
  background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>")
    no-repeat;
  background-position: right 8px center;
  cursor: pointer;
  text-align: center;
}
.rdrMonthAndYearPickers select:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.rdrMonthPicker,
.rdrYearPicker {
  margin: 0 5px;
}
.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0.833em;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #eff2f7;
}
.rdrNextPrevButton:hover {
  background: #e1e7f0;
}
.rdrNextPrevButton i {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  text-align: center;
  border-style: solid;
  margin: auto;
  transform: translate(-3px);
}
.rdrPprevButton i {
  border-width: 4px 6px 4px 4px;
  border-color: transparent #34495e transparent transparent;
  transform: translate(-3px);
}
.rdrNextButton i {
  margin: 0 0 0 7px;
  border-width: 4px 4px 4px 6px;
  border-color: transparent transparent transparent #34495e;
  transform: translate(3px);
}
.rdrWeekDays {
  padding: 0 0.833em;
}
.rdrMonth {
  padding: 0 0.833em 1.666em;
}
.rdrMonth .rdrWeekDays {
  padding: 0;
}
.rdrMonths.rdrMonthsVertical .rdrMonth:first-child .rdrMonthName {
  display: none;
}
.rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  color: #849095;
}
.rdrDay {
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 0;
  padding: 0;
  line-height: 3em;
  height: 3em;
  text-align: center;
  color: #1d2429;
}
.rdrDay:focus {
  outline: 0;
}
.rdrDayNumber {
  outline: 0;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  top: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rdrDayToday .rdrDayNumber span {
  font-weight: 500;
}
.rdrDayToday .rdrDayNumber span:after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%);
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: #3d91ff;
}
.rdrDayToday:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span:after,
.rdrDayToday:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span:after {
  background: #fff;
}
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span {
  color: hsla(0, 0%, 100%, 0.85);
}
.rdrEndEdge,
.rdrInRange,
.rdrSelected,
.rdrStartEdge {
  background: currentColor;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
}
.rdrSelected {
  left: 2px;
  right: 2px;
}
.rdrStartEdge {
  border-top-left-radius: 1.042em;
  border-bottom-left-radius: 1.042em;
  left: 2px;
}
.rdrEndEdge {
  border-top-right-radius: 1.042em;
  border-bottom-right-radius: 1.042em;
  right: 2px;
}
.rdrSelected {
  border-radius: 1.042em;
}
.rdrDayStartOfMonth .rdrEndEdge,
.rdrDayStartOfMonth .rdrInRange,
.rdrDayStartOfWeek .rdrEndEdge,
.rdrDayStartOfWeek .rdrInRange {
  border-top-left-radius: 1.042em;
  border-bottom-left-radius: 1.042em;
  left: 2px;
}
.rdrDayEndOfMonth .rdrInRange,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndOfWeek .rdrStartEdge {
  border-top-right-radius: 1.042em;
  border-bottom-right-radius: 1.042em;
  right: 2px;
}
.rdrDayStartOfMonth .rdrDayEndPreview,
.rdrDayStartOfMonth .rdrDayInPreview,
.rdrDayStartOfWeek .rdrDayEndPreview,
.rdrDayStartOfWeek .rdrDayInPreview {
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  border-left-width: 1px;
  left: 0;
}
.rdrDayEndOfMonth .rdrDayInPreview,
.rdrDayEndOfMonth .rdrDayStartPreview,
.rdrDayEndOfWeek .rdrDayInPreview,
.rdrDayEndOfWeek .rdrDayStartPreview {
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  border-right-width: 1px;
  right: 0;
}
.rdrDayEndPreview,
.rdrDayInPreview,
.rdrDayStartPreview {
  background: hsla(0, 0%, 100%, 0.09);
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  pointer-events: none;
  border: 0 solid;
  z-index: 1;
}
.rdrDayStartPreview {
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  left: 0;
}
.rdrDayInPreview {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.rdrDayEndPreview {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  right: 2px;
  right: 0;
}
.rdrDefinedRangesWrapper {
  font-size: 12px;
  width: 226px;
  border-right: 1px solid #eff2f7;
  background: #fff;
}
.rdrDefinedRangesWrapper .rdrStaticRangeSelected {
  color: currentColor;
  font-weight: 600;
}
.rdrStaticRange {
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  border-bottom: 1px solid #eff2f7;
  padding: 0;
  background: #fff;
}
.rdrStaticRange:focus .rdrStaticRangeLabel,
.rdrStaticRange:hover .rdrStaticRangeLabel {
  background: #eff2f7;
}
.rdrStaticRangeLabel {
  display: block;
  outline: 0;
  line-height: 18px;
  padding: 10px 20px;
  text-align: left;
}
.rdrInputRanges {
  padding: 10px 0;
}
.rdrInputRange {
  align-items: center;
  padding: 5px 20px;
}
.rdrInputRangeInput {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #dee7eb;
  margin-right: 10px;
  color: #6c767a;
}
.rdrInputRangeInput:focus,
.rdrInputRangeInput:hover {
  border-color: #b4bfc4;
  outline: 0;
  color: #333;
}
.rdrCalendarWrapper:not(.rdrDateRangeWrapper) .rdrDayHovered .rdrDayNumber:after {
  content: '';
  border: 1px solid;
  border-radius: 1.333em;
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 0;
  right: 0;
  background: transparent;
}
.rdrDayPassive {
  pointer-events: none;
}
.rdrDayPassive .rdrDayNumber span {
  color: #d5dce0;
}
.rdrDayPassive .rdrDayEndPreview,
.rdrDayPassive .rdrDayInPreview,
.rdrDayPassive .rdrDayStartPreview,
.rdrDayPassive .rdrEndEdge,
.rdrDayPassive .rdrInRange,
.rdrDayPassive .rdrSelected,
.rdrDayPassive .rdrStartEdge {
  display: none;
}
.rdrDayDisabled {
  background-color: #f8f8f8;
}
.rdrDayDisabled .rdrDayNumber span {
  color: #aeb9bf;
}
.rdrDayDisabled .rdrDayEndPreview,
.rdrDayDisabled .rdrDayInPreview,
.rdrDayDisabled .rdrDayStartPreview,
.rdrDayDisabled .rdrEndEdge,
.rdrDayDisabled .rdrInRange,
.rdrDayDisabled .rdrSelected,
.rdrDayDisabled .rdrStartEdge {
  filter: grayscale(100%) opacity(60%);
}
.rdrMonthName {
  text-align: left;
  font-weight: 600;
  color: #849095;
  padding: 0.833em;
}
@font-face {
  font-family: poppins-black;
  src: url(https://static.m2.com/resource/_next/static/media/poppins-black.4c3acc36.woff2)
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: poppins-bold;
  src: url(https://static.m2.com/resource/_next/static/media/poppins-bold.69092ab7.woff2)
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: poppins-medium;
  src: url(https://static.m2.com/resource/_next/static/media/poppins-medium.ae432059.woff2)
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: poppins-regular;
  src: url(https://static.m2.com/resource/_next/static/media/poppins-regular.d4588198.woff2)
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: poppins-light;
  src: url(https://static.m2.com/resource/_next/static/media/poppins-light.0edc0658.woff2)
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Plex Sans Arabic Bold;
  src: url(https://static.m2.com/resource/_next/static/media/IBMPlexSansArabic-Bold.5b34e8b1.woff2)
    format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Plex Sans Arabic SemiBold;
  src: url(https://static.m2.com/resource/_next/static/media/IBMPlexSansArabic-SemiBold.26f29e59.woff2)
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Plex Sans Arabic Regular;
  src: url(https://static.m2.com/resource/_next/static/media/IBMPlexSansArabic-Regular.23652475.woff2)
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Plex Sans Arabic Light;
  src: url(https://static.m2.com/resource/_next/static/media/IBMPlexSansArabic-Light.4f9d5278.woff2)
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body,
html {
  overscroll-behavior: none;
}
html {
  font-size: 10px;
}
body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
.no-rtl {
  direction: ltr;
}
input:focus::-webkit-caps-lock-indicator,
input:focus::-webkit-contacts-auto-fill-button,
input:focus::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.geetest_slider {
  direction: ltr;
}
html[dir='rtl'] .rtl-rotate {
  transform: rotate(180deg);
}

.css-vh09jx {
  margin: 0px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  background: rgb(13, 13, 15);
}
.css-6k6q35 {
  background: rgb(16, 12, 35);
  color: rgb(255, 255, 255);
  padding: 0px 16px;
}
.css-pjfvhq {
  backdrop-filter: blur(6px);
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 12px 12px 20px;
  height: 52px;
  background-image: initial;
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  border-radius: 40px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgba(16, 12, 35, 0.8) !important;
}
.css-10oxagg svg {
  width: 54.9px;
  height: 18px;
}
.css-10oxagg img {
  width: 54.9px;
  height: 18px;
}
.css-1l3vixo {
  width: 74px;
  height: 24px;
}
.css-156k2z1 {
  margin-inline-end: 0px;
  width: 100%;
}
.css-1427d14 {
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  color: rgb(255, 255, 255);
  width: 100%;
}
.css-lykmnt {
  color: rgb(247, 247, 247);
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0px;
  font-family: poppins-regular, sans-serif;
}
.css-195z8ju {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  font-family: poppins-medium, sans-serif;
}
.css-1uq6dkb {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  font-family: poppins-bold, sans-serif;
}
.css-1gblbjx {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
  font-family: poppins-medium, sans-serif;
}
.css-upn7fq {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px 0px;
}
.css-1427d14 {
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  padding: 8px;
  color: rgb(255, 255, 255);
  width: 100%;
}
.css-l5q8tc::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: calc(100% + 8px);
}

.css-1jssxcu {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
}
.css-1iufzrx {
  width: 100%;
  padding: 72px 48px 90px;
  background: rgb(16, 12, 35);
  margin-top: auto;
  z-index: 99;
}
.css-62o2z6 {
  max-width: 1300px;
  margin: 0px auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.css-n1ampd {
  display: flex;
  width: 100%;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.css-1ciiac {
  display: flex;
  width: max-content;
}
.css-1i0n0ae {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: content-box;
  width: fit-content;
  background: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
}
.css-fw3j3z {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 24px;
  flex-direction: row;
  gap: 8px;
}
.css-em9in {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.css-1v92fbq {
  color: rgb(219, 219, 222);
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0px;
  font-family: poppins-bold, sans-serif;
  font-weight: 900;
}
.css-1v2qnox {
  cursor: pointer;
  text-decoration: none;
}
.css-7qotk5 {
  color: rgb(219, 219, 222);
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.3px;
  font-family: poppins-regular, sans-serif;
}
.css-14rugl7 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.css-xe812p {
  color: rgb(219, 219, 222);
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.3px;
  font-family: poppins-regular, sans-serif;
  margin-top: 48px;
}

.css-1f6qz8t {
  display: flex;
  gap: 8px;
}
.css-1v2qnox {
  cursor: pointer;
  text-decoration: none;
}
.css-1i0n0ae {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: content-box;
  width: fit-content;
  background: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
}
.css-1l0w9xw {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 24px;
  flex-direction: row;
  gap: 24px;
}

@media (min-width: 768px) {
  .css-6k6q35 {
    padding-bottom: 32px;
  }
  .css-10oxagg svg {
    width: 73.2px;
    height: 24px;
  }
  .css-10oxagg img {
    width: 95px;
    height: 90px;
  }
  .css-195z8ju {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
  }
  .css-1uq6dkb {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
  }
  .css-1gblbjx {
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.1px;
  }
  .css-1iufzrx {
    padding: 72px 48px 48px;
  }
  .css-1v92fbq {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0px;
    font-weight: 800;
  }
  .css-7qotk5 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.3px;
  }
  .css-xe812p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.3px;
  }
}

@media (min-width: 992px) {
  .css-6k6q35 {
    padding: 0px 48px 32px;
  }
  .css-pjfvhq {
    padding: 12px 12px 12px 32px;
    margin: auto;
    height: 60px;
  }
  .css-upn7fq {
    flex-direction: row;
    margin: auto;
  }
  .css-156k2z1 {
    margin-inline-end: 16px;
    width: auto;
  }
  .css-1427d14 {
    padding: 4px 8px;
  }
  .css-lykmnt {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0px;
  }
  .css-1427d14 {
    padding: 4px 8px;
  }
}

.css-1sxw06h {
  position: relative;
  max-width: 1300px;
  margin: 0px auto;
  height: 100%;
  display: flex;
  min-height: 100svh;
  flex-direction: column;
}
.css-1czabdj {
  background: transparent;
  position: sticky;
  top: 0px;
  width: 100%;
  min-height: unset;
  -webkit-box-align: center;
  align-items: center;
  z-index: 102;
  padding: 16px 0px 0px;
  margin-bottom: 16px;
}
.css-10oxagg {
  display: flex;
}
.css-1i0n0ae {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: content-box;
  width: fit-content;
  background: none;
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.css-1iyoj2o {
  display: flex;
  flex-direction: column;
}
.css-1sg2lsz {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-1v3z295 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}
.css-1ulgukf {
  color: rgb(255, 255, 255);
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 0px;
  margin: 0px;
  margin-inline-end: 16px;
  display: block;
}
.css-1q01leq {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-transform: none;
  border-radius: 48px;
  display: inline-flex;
  border: 1px solid rgb(8, 235, 170);
  color: rgb(8, 235, 170);
  background: transparent;
  white-space: nowrap;
  margin-inline-start: 4px;
  max-height: 36px;
  padding: 8px 14px;
}
.css-q0c041.register {
  margin-inline-start: 8px;
}
.css-q0c041 {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  text-transform: none;
  border-radius: 48px;
  display: inline-flex;
  border: 1px solid rgb(8, 235, 170);
  color: rgb(13, 7, 20);
  background: rgb(8, 235, 170);
  white-space: nowrap;
  margin-inline-start: 4px;
  max-height: 36px;
  padding: 8px 14px;
}
.css-1cw9p77 {
  position: relative;
}
.css-l5q8tc {
  cursor: pointer;
  position: relative;
  background: none;
  box-shadow: none;
}
.css-olgc7d {
  height: 100%;
  width: 100%;
}
.css-x7kgwd {
  left: 0px;
  top: 82px;
  position: fixed;
  height: calc(-100px + 100svh);
  width: calc(-32px + 100vw);
  padding: 16px;
  margin: 0px 16px 16px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: rgba(16, 12, 35, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.48) 0px 12px 18px;
  overflow-y: auto;
  overscroll-behavior: none;
  z-index: 103;
}
.css-e3l3cd {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-inline-start: 8px;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-6r3fxs {
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  gap: 8px;
}
.css-tekvn3 {
  color: rgb(247, 247, 247);
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: -1px;
  font-family: poppins-bold, sans-serif;
  font-weight: 900;
}
.css-1t4yvl7 {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  text-transform: none;
  border-radius: 48px;
  display: inline-flex;
  border: 1px solid rgb(8, 235, 170);
  color: rgb(8, 235, 170);
  background: transparent;
  white-space: nowrap;
  margin-inline-start: 4px;
  max-height: 36px;
  padding: 8px 14px;
}
.css-1lydy3u {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  text-transform: none;
  border-radius: 48px;
  display: inline-flex;
  border: 1px solid rgb(8, 235, 170);
  color: rgb(13, 7, 20);
  background: rgb(8, 235, 170);
  white-space: nowrap;
  margin-inline-start: 4px;
  max-height: 36px;
  padding: 8px 14px;
}

@media (min-width: 321px) and (max-width: 768px) {
  .css-1t4yvl7 {
    display: none;
  }
  .css-1lydy3u {
    display: none;
  }
  .css-1l0w9xw {
    flex-direction: column;
  }
}

#menu-bar {
  display: none;
}
#cross-icon {
  display: none;
  font-size: 17px;
  font-family: system-ui;
  width: 20px;
}

.menu-div {
  width: 20px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
  border-radius: 10px;
}

